# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Environments
.venv/
venv/
env/
*.env

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Models
/models/*.pkl

# Datasets (large files should not go to git)
data/
*.csv
*.tsv
*.jsonl

# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar
